* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  align-items: center;
  padding: 1% 10%;
  background-image: url(./images/tekkie.jpg);
  background-size: cover;
}

.owl-carousel {
  overflow: hidden;
}

.hos {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 7% 7%;
  color: whitesmoke;
  box-sizing: border-box;
}
.picture1 {
  max-width: 200px;
  min-width: 230px;
  border-radius: 50px;
  flex-direction: row;
}
.picture2 {
  max-width: 200px;
  min-width: 150px;
  border-radius: 50px;
}

.picture3 {
  max-width: 150px;
  min-width: 155px;
  border-radius: 50px;
}
@media screen and (max-width: 800px) {
  .hoya {
    grid-template-rows: 10% 1fr;
  }
  .owl-carousel {
    grid-template-rows: 10% 1fr;
  }
}
